<h3 class="">Course details</h3>
<!-- <div class="show-course" *ngIf="courseList.length!=0">
    <h5>Course Name</h5>
</div>
<div class="show-course" *ngIf="courseList.length==0">
    <p>No course available</p>
</div> -->
<button class="btn btn-primary" (click)="switchCourseStatus()">Switch Course Satatus</button>
<div class="show-course" *ngIf="courseList.length!=0;then showCourseList else noCourseList"></div>

<ng-template #showCourseList>
    <h5 class="d-flex">
        Course Name
        <button class="btn btn-primary ml-auto" (click)="addCourse()">Add course</button>
    </h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex" [class.list-group-item-secondary]="o" [class.list-group-item-light]="!o" *ngFor="let course of this.courseList;index as i;first as f;last as l;odd as o;even as e">
            {{i+1}}. {{course.name}} (ID:{{course.id}}) || {{'First:'+f}} || {{'Last:'+l}} || {{'Odd Position:'+o}} || {{'Even Position:'+e}}
            <button class="btn btn-danger ml-auto" (click)="removeCourse(course)">Remove</button>
        </li>
    </ul>
</ng-template>
<ng-template #noCourseList>
    <p>No course available</p>
</ng-template>