<div class="form-box">
    <form (ngSubmit)="submitForm(cForm)" ngForm #cForm="ngForm">
        <div ngModelGroup="namefields" #nameFields="ngModelGroup">
            <div class="form-group">
                <input type="text" class="form-control" #firstName="ngModel" required minlength="3" maxlength="20" ngModel name="firstname" pattern="^[a-zA-Z]+$" placeholder="First Name" autocomplete="false">
                <!-- (keyup)="firstNameChange(firstName)" -->
            </div>

            <div class="alert alert-danger" *ngIf="firstName.errors && firstName.touched">
                <div *ngIf="firstName.errors.required">First Name is required</div>
                <div *ngIf="firstName.errors.minlength">First Name length should be more then or equal to {{firstName.errors.minlength.requiredLength}} charecters</div>
                <div *ngIf="firstName.errors.pattern">First Name is not valid</div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ngModel name="lastname" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ngModel name="contactno" placeholder="contact Number :+91 999 999 9999">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="email" ngModel placeholder="Email ID">
        </div>
        <div class="form-group">
            <textarea type="text" class="form-control" ngModel name="comment" placeholder="Enter you comment"></textarea>
        </div>
        <div class="checkbox">
            <label for="subscription">
                <input type="checkbox" required ngModel name="subscription">
                subscribe to mail list
            </label>
        </div>
        <div class="form-group">
            <label for="mailingoption">Choose the mailing option</label>
            <!-- <select name="mailingoption" class="form-control" ngModel>
                <option [value]="item.value" *ngFor="let item of mailingList">{{item.name}}</option>
            </select> -->
            <!-- <select name="mailingoption" class="form-control" ngModel multiple>
                <option [value]="item.value" *ngFor="let item of mailingList">{{item.name}}</option>
            </select> -->
            <select name="mailingoption" class="form-control" [(ngModel)]="selectedValue" multiple>
                <option [value]="item.value" *ngFor="let item of mailingList">{{item.name}}</option>
            </select>
            <!-- <select name="mailingoption" class="form-control" [(ngModel)]="selectedValue">
                <option [value]="item.value" *ngFor="let item of mailingList">{{item.name}}</option>
            </select> -->
        </div>
        <div class="radio">
            <div *ngFor="let item of mailingList">
                <label for="mailinglist">
                    <input type="radio" [value]="item.value" ngModel name="mailinglist">{{item.name}}
                </label>
            </div>

        </div>
        <div class="mt-2 mb-2">
            <button [disabled]="cForm.invalid" class="btn btn-primary form-control" type="submit">Submit</button>
        </div>
    </form>
</div>
{{cForm.value | json}}