<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div> -->

<div style="width:90%;margin:auto">
    <!-- <app-course></app-course> -->
    <!-- <app-courses></app-courses> -->
    <!-- <app-data-event></app-data-event> -->
    <!-- <app-binding></app-binding> -->
    <!-- <app-carousel></app-carousel> -->
    <!-- <app-pipes></app-pipes> -->
    <!-- <app-product-list></app-product-list> -->
    <!-- <h4>View Encapsulation test</h4> -->
</div>
<theme-basic>
    <ng-container class="header">
        <app-header></app-header>
    </ng-container>
    <!-- <ng-container class="header">
        <div *ngIf="showMessage">test</div>
    </ng-container> -->
    <ng-container class="body">
        <!-- <app-product-list></app-product-list> -->
        <!-- <app-directive></app-directive> -->
        <!-- <app-show-custom-directive></app-show-custom-directive> -->
        <!-- <app-contact-form></app-contact-form> -->
        <!-- <app-sign-up></app-sign-up> -->
        <!-- <app-to-do-list></app-to-do-list> -->
        <app-contact></app-contact>

    </ng-container>
</theme-basic>



<router-outlet></router-outlet>