.form-box {
    width: 600px;
    margin: auto;
}

.form-control.ng-invalid.ng-touched {
    outline: 1px solid #ee4545;
}

.color-red {
    color: red;
}

.loader-ico {
    position: absolute;
    right: 7px;
    top: 11px;
    font-size: 1.3rem;
}