<div class="form-box">
    <h2>Sign-up Form</h2>
    <form (ngSubmit)="signupSubmit()" [formGroup]="signUp">
        <div class="form-group" style="position:relative">
            <input type="text" class="form-control" placeholder="User Name" formControlName="username">
            <i class="fa fa-spinner rotating loader-ico" *ngIf="userName.pending"></i>
        </div>
        <div class="alert alert-danger" *ngIf="userName.touched && userName.errors">
            <div *ngIf="userName.errors.required">Username is required</div>
            <div *ngIf="userName.errors.minlength">Minimum {{userName.errors.minlength.requiredLength}} charecters are required</div>
            <div *ngIf="userName.errors.maxlength">Maximum {{userName.errors.maxlength.requiredLength}} characters are allowed</div>
            <div *ngIf="userName.errors.pattern">Invalid username</div>
            <div *ngIf="userName.errors.shouldBeUnique">Username is already taken by others</div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <div class="alert alert-danger" *ngIf="passWord.touched && passWord.errors">
            <div *ngIf="passWord.errors.required">Password is required</div>
            <div *ngIf="passWord.errors.pattern">Week password</div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" formControlName="confirmpassword" placeholder="Confirm Password">
        </div>
        <div>
            <button class="btn btn-primary form-control" [disabled]="signUp.invalid || signUp.pending">Sign-up</button>
        </div>
    </form>
</div>
<!-- <div>
    {{signUp.value|json}}
</div> -->
<div>
    {{userName.errors|json}}
</div>
<div>
    {{userName.pending|json}}
</div>
<div>
    {{passWord.errors|json}}
</div>

<!-- <div>
    {{passWord.errors|json}}
</div>
<div>
    confirmPassword {{confirmPassword.errors|json}}
</div> -->